.coffee-instruction__wrapper {
    padding: 10px 4.8%;
    background-color: #fff;
}
.coffee-instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.coffee-instruction__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #F9B300;
    background-color: #F0F0F0;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 5px;
}
.coffee-instruction__taste {
    padding: 20px 4.8% 9px;
}
.coffee-taste__wrapper {
    padding: 19px 16px 28px 14px;
    color: #222222;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee-instruction__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #222;
}
.coffee-taste__title {
    margin-bottom: 27px;
}
.coffee-taste__list {
    display: flex;
    padding-left: 40px;
}
.coffee-taste__item {
    position: relative;
    padding-right: 26%;
    font-size: 12px;
    line-height: 16px;
}
.coffee-taste__item:last-child {
    padding-right: 0;
}
.coffee-taste__item::before {
    position: absolute;
    content: "";
    background: url("../../../img/page-coffee/instruction/taste-icon.svg");
    width: 30px;
    height: 30px;
    left: -40px;
    bottom: -6px;
}
/*instruction*/
.coffee-specifications__info {
    border-bottom: 1px solid #B3B3B3;
}
.coffee-instruction__specifications {
    padding: 0 4.8%;
}
.coffee-specifications__wrapper {
    padding: 30px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee-specifications__title {
    margin-bottom: 10px;
}
.coffee-specifications__table {
    width: 100%;
    color: #000;
}
.coffee-specifications__line {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B2B2B2;
}
.coffee-specifications__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}
.coffee-specifications__descr {
    text-align: right;
    font-size: 12px;
    line-height: 16px;
}
.coffee-specifications__descr-first {
    width: 50%;
}
.coffee-specifications__texts {
    padding: 30px 4.8% 40px;
}
.coffee-specifications__text {
    margin: 0;
}
.coffee-specifications__text + .coffee-specifications__text {
    padding-top: 20px;
}
.coffee-specifications__photo {
    padding-bottom: 50px;
}
.coffee-specifications__img {
    display: block;
    width: 340px;
    height: 170px;
    margin: 0 auto;
}
/*howtocook*/
.coffee-instructions__howtocook {
    border-bottom: 1px solid #B3B3B3;
}
.coffee-instructions__howtocook-container {
    padding: 30px 4.8% 20px;
}
.coffee-instructions__title {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.coffee-instructions__howtocook-title {
    margin-bottom: 20px;
}
.coffee-instructions__howtocook .coffee-dishes__list {
    padding-bottom: 20px;
}
.coffee-instructions__howtocook [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.coffee-instructions__howtocook label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.coffee-instructions__howtocook [type="radio"] + label::before {
    position: absolute;
    content: "";
    width: 106px;
    height: 110px;
    left: -10px;
    top: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: -1;
}
.coffee-instructions__howtocook [type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    background-color: #F9B300;
    border-radius: 10px;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 110px;
    z-index: -1;
}
/*additionally*/
.coffee-instructions__additionally-container {
    padding: 30px 4.8% 38px;
}
.coffee-instructions__additionally__title {
    margin-bottom: 30px;
}
.coffee-instructions__additionally-box + .coffee-instructions__additionally-box {
    padding-top: 30px;
}
.coffee-instructions__additionally-box-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.coffee-instructions__additionally-text {
    margin: 0;
    padding-bottom: 20px;
}
.coffee-instructions__additionally-img {
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 116px;
}
.coffee-instructions__additionally-text--desc {
    display: none;
}

@media (min-width: 768px) {
    .coffee-instruction__wrapper {
        padding: 20px 4.8%;
    }
    .coffee-instruction__list {
        grid-row-gap: 20px;
    }
    .coffee-instruction__item {
        height: 70px;
        font-size: 25px;
        line-height: 30px;
    }
    .coffee-instruction__taste {
        padding: 100px 4.8% 20px;
    }
    .coffee-taste__wrapper {
        padding: 41px 35px 64px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
    }
    .coffee-instruction__title {
        font-size: 30px;
        line-height: 39px;
    }
    .coffee-taste__title {
        margin-bottom: 54px;
    }
    .coffee-taste__list {
        padding-left: 70px;
    }
    .coffee-taste__item {
        font-size: 24px;
        line-height: 31px;
    }
    .coffee-taste__item::before {
        background-size: cover;
        width: 60px;
        height: 60px;
        left: -80px;
        bottom: -14px;
    }
    /*instruction*/
    .coffee-specifications__wrapper {
        padding: 50px 33px 70px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 10px;
    }
    .coffee-specifications__title {
        margin-bottom: 50px;
    }
    .coffee-specifications__line {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .coffee-specifications__name,
    .coffee-specifications__descr {
        font-size: 20px;
        line-height: 26px;
    }
    .coffee-specifications__texts {
        padding-top: 39px;
        padding-bottom: 80px;
    }
    .coffee-specifications__photo {
        padding-bottom: 70px;
    }
    .coffee-specifications__img {
        width: 700px;
        height: 348px;
    }
    .coffee-instructions__howtocook-container {
        padding: 40px 4.8% 60px;
    }
    .coffee-instructions__title {
        font-size: 40px;
        line-height: 50px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 35px;
    }
    .coffee-instructions__howtocook label {
        font-size: 24px;
        line-height: 28px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        border-radius: 20px;
    }
    /*additionally*/
    .coffee-instructions__additionally-container {
        padding: 30px 4.8% 70px;
    }
    .coffee-instructions__additionally__title {
        margin-bottom: 40px;
    }
    .coffee-instructions__additionally-text {
        padding-bottom: 50px;
    }
    .coffee-instructions__additionally-img {
        width: 700px;
        height: 237px;
    }
    .coffee-instructions__additionally-box + .coffee-instructions__additionally-box {
        padding-top: 60px;
    }
    .coffee-instructions__additionally-box-title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 1200px) {
    .coffee-instruction__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .coffee-instruction__taste {
        padding: 60px 0 0;
        grid-column: 1/2;
    }
    .coffee-instruction__item {
        height: 42px;
        font-size: 18px;
        line-height: 22px;
    }
    .coffee-taste__wrapper {
        padding: 40px 44px 46px 39px;
    }
    .coffee-taste__list {
        flex-direction: column;
    }
    .coffee-taste__item {
        padding-right: 0;
    }
    .coffee-taste__item::before {
        width: 50px;
        height: 50px;
        left: -70px;
        bottom: -6px;
    }
    .coffee-taste__item + .coffee-taste__item {
        padding-top: 47px;
    }
    .coffee-instruction__title {
        font-size: 22px;
        line-height: 29px;
    }
    .coffee-taste__title {
        margin-bottom: 44px;
    }
    /*instructions*/
    .coffee-instructions {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 65px;
        padding-left: 4.8%;
        padding-right: 4.8%;
    }
    .coffee-instruction__specifications {
        padding: 60px 0 0;
        grid-column: 2/5;
    }
    .coffee-specifications__wrapper {
        padding: 43px 100px 41px 56px;
        box-shadow: 0px 0px 21.2552px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
        min-height: 346px;
    }
    .coffee-specifications__title {
        margin-bottom: 22px;
    }
    .coffee-specifications__line {
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .coffee-specifications__descr-first {
        width: 60%;
    }
    .coffee-specifications__name, .coffee-specifications__descr {
        font-size: 18px;
        line-height: 23px;
    }
    .coffee-specifications__info {
        display: flex;
        justify-content: space-between;
        grid-column: 1/5;
    }
    .coffee-specifications__texts {
        margin-right: 30px;
        padding: 0;
    }
    .coffee-specifications__text {
        font-size: 17px;
        line-height: 23px;
    }
    .coffee-specifications__photo {
        padding-bottom: 70px;
    }
    .coffee-specifications__img {
        width: 280px;
        height: 296px;
    }
    .coffee-instructions__howtocook {
        grid-column: 1/5;
    }
    .coffee-instructions__howtocook-container,
    .coffee-instructions__howtocook .coffee-dishes__list {
        padding: 0;
    }
    .coffee-instructions__howtocook .coffee-dishes__list {
        padding-bottom: 50px;
    }
    .coffee-instructions__title {
        font-size: 28px;
        line-height: 35px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 40px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before,
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 250px;
        height: 250px;
    }
    /*additionally*/
    .coffee-instructions__additionally {
        grid-column: 1/5;
    }
    .coffee-instructions__additionally-container {
        padding: 0;
        padding-bottom: 100px;
    }
    .coffee-instructions__additionally-text--desc {
        display: block;
    }
    .coffee-instructions__additionally-text {
        padding-bottom: 30px;
        max-width: 900px;
        font-size: 18px;
        line-height: 23px;
    }
    .coffee-instructions__additionally-img {
        margin-left: 0;
        width: 1140px;
        height: 375px;
    }
}

@media (min-width: 1349px) {
    .coffee-instructions,
    .coffee-instruction__wrapper {
        padding-left: 6.35%;
        padding-right: 6.35%;
    }
    .coffee-specifications__texts {
        margin-right: 120px;
        max-width: 855px;
    }
    .coffee-instructions__howtocook .coffee-dishes__list {
        width: 100%;
        padding-bottom: 80px;
    }
    .coffee-instructions__howtocook label {
        font-size: 14px;
        line-height: 16px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 134px;
        height: 134px;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 134px;
        height: 134px;
        border-radius: 14px;
    }
    .coffee-instructions__additionally-text {
        max-width: 963px;
    }
    .coffee-instructions__additionally-img {
        width: 1180px;
        height: 389px;
    }
}

@media (min-width: 1904px) {
    .coffee-instruction__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .coffee-instruction__item {
        height: 60px;
        font-size: 25px;
        line-height: 30px;
    }
    .coffee-taste__wrapper {
        padding: 60px 89px 74px 80px;
    }
    .coffee-instruction__title {
        font-size: 30px;
        line-height: 39px;
    }
    .coffee-taste__title {
        margin-bottom: 50px;
    }
    .coffee-taste__list {
        padding-left: 120px;
    }
    .coffee-taste__item {
        font-size: 25px;
        line-height: 32px;
    }
    .coffee-taste__item + .coffee-taste__item {
        padding-top: 68px;
    }
    .coffee-taste__item::before {
        width: 70px;
        height: 70px;
        left: -120px;
        bottom: -18px;
    }
    /*instructions*/
    .coffee-specifications__wrapper {
        padding: 60px 140px 61px 81px;
    }
    .coffee-specifications__line {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .coffee-specifications__name, .coffee-specifications__descr {
        font-size: 25px;
        line-height: 32px;
    }
    .coffee-specifications__texts {
        margin-right: 160px;
        max-width: 1100px;
    }
    .coffee-specifications__text {
        font-size: 25px;
        line-height: 33px;
    }
    .coffee-specifications__text + .coffee-specifications__text {
        padding-top: 30px;
    }
    .coffee-specifications__photo {
        padding-bottom: 100px;
    }
    .coffee-specifications__img {
        width: 397px;
        height: 418px;
    }
    .coffee-instructions__title {
        font-size: 40px;
        line-height: 50px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 60px;
    }
    .coffee-instructions__howtocook label {
        font-size: 20px;
        line-height: 24px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 189px;
        height: 190px;
        left: -20px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 189px;
        height: 190px;
        left: -20px;
        border-radius: 20px;
    }
    .coffee-instructions__howtocook .coffee-dishes__list {
        padding-bottom: 100px;
    }
    .coffee-instructions__additionally-container {
        padding-bottom: 150px;
    }
    .coffee-instructions__additionally__title {
        margin-bottom: 60px;
    }
    .coffee-instructions__additionally-text {
        max-width: 1380px;
        padding-bottom: 40px;
        font-size: 25px;
        line-height: 32px;
    }
    .coffee-instructions__additionally-img {
        width: 1660px;
        height: 550px;
    }
}