.instruction {
    position: sticky;
    top: 0;
    z-index: 100;
}
.instruction__wrapper {
    padding: 10px 4.8%;
    background-color: #fff;
}
.instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.instruction__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #F9B300;
    background-color: #F0F0F0;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 5px;
}
.instruction__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.instruction__link.current {
    background: #FFF7E1;
    border: 1px solid #F9B300;
}
.coffee-instruction__tasteandspecifications {
    position: relative;
}
span#tasteandspecifications {
    position: absolute;
    top: -90px;
}
.coffee-instruction__taste {
    padding: 20px 4.8% 9px;
}
.coffee-taste__wrapper {
    padding: 19px 16px 28px 14px;
    color: #222222;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee-instruction__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #222;
}
.coffee-taste__title {
    margin-bottom: 27px;
}
.coffee-taste__list {
    display: flex;
    padding-left: 40px;
}
.coffee-taste__item {
    position: relative;
    padding-right: 26%;
    font-size: 12px;
    line-height: 16px;
}
.coffee-taste__item:last-child {
    padding-right: 0;
}
.coffee-taste__item::before {
    position: absolute;
    content: "";
    background: url("../../../img/page-coffee/instruction/taste-icon.svg");
    width: 30px;
    height: 30px;
    left: -40px;
    bottom: -6px;
}
/*instruction*/
.main-specifications__info {
    position: relative;
    border-bottom: 1px solid #B3B3B3;
}
.health-card span#info {
    position: absolute;
    top: -130px;
}
.coffee-instruction__specifications {
    padding: 0 4.8%;
}
.coffee-specifications__wrapper {
    padding: 30px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee-specifications__title {
    margin-bottom: 10px;
}
.coffee-specifications__table {
    width: 100%;
    color: #000;
}
.coffee-specifications__line {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B2B2B2;
}
.coffee-specifications__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}
.coffee-specifications__descr {
    text-align: right;
    font-size: 12px;
    line-height: 16px;
}
.coffee-specifications__descr-first {
    width: 50%;
}
.main-specifications__texts {
    padding: 30px 4.8% 40px;
}
.main-specifications__text {
    margin: 0;
}
.main-specifications__text + .main-specifications__text {
    padding-top: 20px;
}
.main-specifications__photo {
    padding-bottom: 50px;
}
.main-specifications__img {
    display: block;
    width: 340px;
    height: 170px;
    margin: 0 auto;
}
/*howtocook*/
.coffee-instructions__howtocook {
    position: relative;
    border-bottom: 1px solid #B3B3B3;
}
.coffee-instructions__howtocook-container {
    padding: 30px 4.8% 20px;
}
.coffee-instructions__title {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.coffee-instructions__howtocook-title {
    margin-bottom: 20px;
}
.coffee-instructions__howtocook .coffee-dishes__list {
    padding-bottom: 20px;
}
.coffee-instructions__howtocook [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.coffee-instructions__howtocook label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.coffee-instructions__howtocook [type="radio"] + label::before {
    position: absolute;
    content: "";
    width: 106px;
    height: 110px;
    left: -10px;
    top: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: -1;
}
.coffee-instructions__howtocook [type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    background-color: #F9B300;
    border-radius: 10px;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 110px;
    z-index: -1;
}
/*additionally*/
.coffee-instructions__additionally {
    position: relative;
}
span#howtocook,
span#additionally,
span#reviews,
.tea-card span#info,
.vending-card span#info {
    position: absolute;
    top: -90px;
}
.tea-card span#reviews,
.vending-card span#reviews {
    top: -120px;
}
.coffee-instructions__additionally-container {
    padding: 30px 4.8% 38px;
}
.coffee-instructions__additionally__title {
    margin-bottom: 30px;
}
.coffee-instructions__additionally-box + .coffee-instructions__additionally-box {
    padding-top: 30px;
}
.coffee-instructions__additionally-box-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.coffee-instructions__additionally-text {
    margin: 0;
    padding-bottom: 20px;
}
.coffee-instructions__additionally-img {
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 116px;
}
.coffee-instructions__additionally-text--desc {
    display: none;
}
/*reviews*/
.main-instructions__reviews{
    position: relative;
    background: url("../../../img/page-coffee/instruction/vector-bg.svg") no-repeat;
    background-size: contain;
    background-color: #F5F5F5;
}
.main-instructions__reviews-container {
    padding: 0 4.8% 34px;
}
.main-instructions__reviews__title {
    margin-bottom: 20px;
}
.main-instructions__reviews-box {
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.main-instructions__reviews-box + .main-instructions__reviews-box {
    margin-top: 20px;
}
.main-reviews__main {
    padding: 20px 51px 20px 20px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}
.main-reviews__quotes {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}
.main-reviews__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.main-reviews__stars {
    display: block;
    margin-bottom: 20px;
}
.main-reviews__text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}
.main-reviews__footer {
    display: flex;
    align-items: center;
    padding: 10px 51px 10px 20px;
    background: #FFF7E1;
    border-radius: 0px 0px 10px 10px;
}
.main-reviews__footer-avatar {
    display: block;
    margin-right: 19px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-reviews__name,
.main-reviews__city {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}
.main-reviews__name {
    margin-bottom: 5px;
    font-weight: bold;
}
.main-reviews__city {
    opacity: 0.12;
}
.main-instructions__reviews-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;
}
.main-reviews__data {
    display: none;
}

@media (min-width: 768px) {
    .health-card span#info,
    .vending-card span#info {
        top: -190px;
    }
    .instruction__wrapper {
        padding: 20px 4.8%;
    }
    .instruction__list {
        grid-row-gap: 20px;
    }
    .instruction__item {
        height: 70px;
        font-size: 25px;
        line-height: 30px;
    }
    .coffee-instruction__taste {
        padding: 100px 4.8% 20px;
    }
    .coffee-taste__wrapper {
        padding: 41px 35px 64px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
    }
    .coffee-instruction__title {
        font-size: 30px;
        line-height: 39px;
    }
    .coffee-taste__title {
        margin-bottom: 54px;
    }
    .coffee-taste__list {
        padding-left: 70px;
    }
    .coffee-taste__item {
        font-size: 24px;
        line-height: 31px;
    }
    .coffee-taste__item::before {
        background-size: cover;
        width: 60px;
        height: 60px;
        left: -80px;
        bottom: -14px;
    }
    /*instruction*/
    .main-instructions__reviews-container {
        padding-bottom: 102px;
    }
    .coffee-specifications__wrapper {
        padding: 50px 33px 70px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 10px;
    }
    .coffee-specifications__title {
        margin-bottom: 50px;
    }
    .coffee-specifications__line {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .coffee-specifications__name,
    .coffee-specifications__descr {
        font-size: 20px;
        line-height: 26px;
    }
    .main-specifications__texts {
        padding-top: 39px;
        padding-bottom: 80px;
    }
    .main-specifications__photo {
        padding-bottom: 70px;
    }
    .main-specifications__img {
        width: 700px;
        height: 348px;
    }
    .coffee-instructions__howtocook-container {
        padding: 40px 4.8% 60px;
    }
    .coffee-instructions__title {
        font-size: 40px;
        line-height: 50px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 35px;
    }
    .coffee-instructions__howtocook label {
        font-size: 24px;
        line-height: 28px;
        transition: all 0.4s ease;
    }
    .coffee-instructions__howtocook label:hover {
        color: #F9B300;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        border-radius: 20px;
    }
    span#howtocook,
    span#additionally,
    .tea-card span#info {
        top: -180px;
    }
    span#reviews,
    .tea-card span#reviews,
    .vending-card span#reviews {
        top: -220px;
    }
    /*additionally*/
    .coffee-instructions__additionally-container {
        padding: 40px 4.8% 70px;
    }
    .coffee-instructions__additionally__title {
        margin-bottom: 40px;
    }
    .coffee-instructions__additionally-text {
        padding-bottom: 50px;
    }
    .coffee-instructions__additionally-img {
        width: 700px;
        height: 237px;
    }
    .coffee-instructions__additionally-box + .coffee-instructions__additionally-box {
        padding-top: 60px;
    }
    .coffee-instructions__additionally-box-title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 36px;
    }
    /*reviews*/
    .main-instructions__reviews__title {
        margin-bottom: 70px;
    }
    .main-instructions__reviews-box {
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 10px;
    }
    .main-instructions__reviews-box + .main-instructions__reviews-box {
        margin-top: 30px;
    }
    .main-reviews__main {
        padding: 50px 106px 50px 50px;
    }
    .main-reviews__quotes {
        font-size: 30px;
        line-height: 37px;
    }
    .main-reviews__title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 39px;
    }
    .main-reviews__stars {
        margin-bottom: 40px;
        width: 113px;
        height: 21px;
    }
    .main-reviews__text {
        font-size: 20px;
        line-height: 26px;
    }
    .main-reviews__footer {
        padding: 11px 106px 12px 50px;
    }
    .main-reviews__footer-avatar {
        width: 90px;
        height: 90px;
    }
    .main-reviews__name {
        margin-bottom: 11px;
        font-size: 25px;
        line-height: 33px;
    }
    .main-reviews__city {
        font-size: 20px;
        line-height: 26px;
    }
    .main-instructions__reviews-button {
        margin-top: 30px;
        height: 70px;
        font-size: 25px;
        line-height: 30px;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    .main-instructions__reviews-button:hover {
        background: #FFF7E1;
        border: 1px solid #E4E4E4;
    }
}

@media (min-width: 1200px) {
    .health-card span#info,
    .vending-card span#info {
        top: -90px;
    }
    .health-card span#howtocook {
        top: -50px;
    }
    .coffee-card__instruction .instruction__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .coffee-instruction__taste {
        padding: 0;
        grid-column: 1/2;
    }
    .instruction__item {
        height: 42px;
        font-size: 18px;
        line-height: 22px;
    }
    .coffee-taste__wrapper {
        padding: 40px 44px 46px 39px;
    }
    .coffee-taste__list {
        flex-direction: column;
    }
    .coffee-taste__item {
        padding-right: 0;
    }
    .coffee-taste__item::before {
        width: 50px;
        height: 50px;
        left: -70px;
        bottom: -6px;
    }
    .coffee-taste__item + .coffee-taste__item {
        padding-top: 47px;
    }
    .coffee-instruction__title {
        font-size: 22px;
        line-height: 29px;
    }
    .coffee-taste__title {
        margin-bottom: 44px;
    }
    /*instructions*/
    .coffee-instruction__tasteandspecifications {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
        padding: 60px 4.8% 65px;
    }
    .coffee-instruction__specifications {
        padding: 0;
    }
    .coffee-specifications__wrapper {
        padding: 43px 100px 41px 56px;
        box-shadow: 0px 0px 21px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
        min-height: 346px;
    }
    .coffee-specifications__title {
        margin-bottom: 22px;
    }
    .coffee-specifications__line {
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .coffee-specifications__descr-first {
        width: 60%;
    }
    .coffee-specifications__name, .coffee-specifications__descr {
        font-size: 18px;
        line-height: 23px;
    }
    .main-specifications__info {
        display: flex;
        justify-content: space-between;
        padding-left: 4.8%;
        padding-right: 4.8%;
    }
    .main-specifications__texts {
        margin-right: 30px;
        padding: 0;
    }
    .main-specifications__text {
        font-size: 17px;
        line-height: 23px;
    }
    .main-specifications__photo {
        padding-bottom: 70px;
    }
    .main-specifications__img {
        width: 280px;
        height: 296px;
    }
    .coffee-instructions__howtocook,
    .coffee-instructions__additionally {
        padding: 40px 4.8% 60px;
    }
    .coffee-instructions__howtocook-container,
    .coffee-instructions__howtocook .coffee-dishes__list {
        padding: 0;
    }
    .coffee-instructions__title {
        font-size: 28px;
        line-height: 35px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 40px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before,
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 250px;
        height: 250px;
    }
    span#howtocook,
    span#additionally,
    .tea-card span#info {
        top: -80px;
    }
    span#reviews,
    .tea-card span#reviews,
    .vending-card span#reviews {
        top: -100px;
    }
    /*additionally*/
    .coffee-instructions__additionally-container {
        padding: 0;
    }
    .coffee-instructions__additionally-text--desc {
        display: block;
    }
    .coffee-instructions__additionally-text {
        padding-bottom: 30px;
        max-width: 900px;
        font-size: 18px;
        line-height: 23px;
    }
    .coffee-instructions__additionally-img {
        margin-left: 0;
        width: 1085px;
        height: 357px;
    }
    /*reviews*/
    .main-instructions__reviews{
        padding-left: 4.8%;
        padding-right: 4.8%;
    }
    .main-instructions__reviews-container {
        padding: 0 0 64px;
    }
    .main-instructions__reviews__title {
        margin-bottom: 80px;
    }
    .main-instructions__reviews-box {
        box-shadow: 0px 0px 21px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
    }
    .main-instructions__reviews-box + .main-instructions__reviews-box {
        margin-top: 50px;
    }
    .main-reviews__main {
        position: relative;
        padding: 33px 100px 69px 58px;
        border-radius: 14px 14px 0px 0px;
    }
    .main-reviews__data {
        display: block;
        position: absolute;
        right: 100px;
        top: 69px;
        font-size: 14px;
        line-height: 18px;
    }
    .main-reviews__quotes {
        font-size: 28px;
        line-height: 35px;
    }
    .main-reviews__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 23px;
    }
    .main-reviews__stars {
        margin-bottom: 20px;
        width: 128px;
        height: 24px;
    }
    .main-reviews__text {
        max-width: 740px;
        font-size: 14px;
        line-height: 18px;
    }
    .main-reviews__footer {
        padding: 17px 69px 18px 58px;
        border-radius: 0px 0px 14px 14px;
    }
    .main-reviews__footer-avatar {
        margin-right: 35px;
        width: 50px;
        height: 50px;
    }
    .main-reviews__name {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
    }
    .main-reviews__city {
        font-size: 14px;
        line-height: 18px;
    }
    .main-instructions__reviews-button {
        margin-top: 50px;
        height: 49px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 1349px) {
    .instruction__wrapper {
        padding: 20px 6.35%;
    }
    .main-specifications__texts {
        margin-right: 120px;
        max-width: 855px;
    }
    .main-specifications__info,
    .coffee-instructions__howtocook,
    .coffee-instructions__additionally,
    .main-instructions__reviews{
        padding-left: 6.35%;
        padding-right: 6.35%;
    }
    .coffee-instructions__howtocook {
        padding-bottom: 80px;
    }
    .coffee-instructions__howtocook .coffee-dishes__list {
        width: 100%;
    }
    .coffee-instructions__howtocook label {
        font-size: 14px;
        line-height: 16px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 134px;
        height: 134px;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 134px;
        height: 134px;
        border-radius: 14px;
    }
    .coffee-instruction__tasteandspecifications {
        padding-left: 6.35%;
        padding-right: 6.35%;
        padding-bottom: 90px;
    }
    .coffee-instructions__additionally {
        padding-bottom: 80px;
    }
    .coffee-instructions__additionally-text {
        max-width: 963px;
    }
    .coffee-instructions__additionally-img {
        width: 1180px;
        height: 389px;
    }
}

@media (min-width: 1904px) {
    .instruction__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .instruction__item {
        height: 60px;
        font-size: 25px;
        line-height: 30px;
    }
    .coffee-taste__wrapper {
        padding: 60px 89px 74px 80px;
    }
    .coffee-instruction__title {
        font-size: 30px;
        line-height: 39px;
    }
    .coffee-taste__title {
        margin-bottom: 50px;
    }
    .coffee-taste__list {
        padding-left: 120px;
    }
    .coffee-taste__item {
        font-size: 25px;
        line-height: 32px;
    }
    .coffee-taste__item + .coffee-taste__item {
        padding-top: 68px;
    }
    .coffee-taste__item::before {
        width: 70px;
        height: 70px;
        left: -120px;
        bottom: -18px;
    }
    /*instructions*/
    .coffee-specifications__wrapper {
        padding: 60px 140px 61px 81px;
    }
    .coffee-specifications__line {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .coffee-specifications__name, .coffee-specifications__descr {
        font-size: 25px;
        line-height: 32px;
    }
    .main-specifications__texts {
        margin-right: 160px;
        max-width: 1100px;
    }
    .main-specifications__text {
        font-size: 25px;
        line-height: 33px;
    }
    .main-specifications__text + .main-specifications__text {
        padding-top: 30px;
    }
    .main-specifications__photo {
        padding-bottom: 100px;
    }
    .main-specifications__img {
        width: 397px;
        height: 418px;
    }
    .coffee-instructions__title {
        font-size: 40px;
        line-height: 50px;
    }
    .coffee-instructions__howtocook {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .coffee-instructions__howtocook-title {
        margin-bottom: 60px;
    }
    .coffee-instructions__howtocook label {
        font-size: 20px;
        line-height: 24px;
    }
    .coffee-instructions__howtocook [type="radio"] + label::before {
        width: 189px;
        height: 190px;
        left: -20px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-instructions__howtocook [type="radio"]:checked + label::after {
        width: 189px;
        height: 190px;
        left: -20px;
        border-radius: 20px;
    }
    .coffee-instructions__additionally {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .coffee-instructions__additionally__title {
        margin-bottom: 60px;
    }
    .coffee-instructions__additionally-text {
        max-width: 1380px;
        padding-bottom: 40px;
        font-size: 25px;
        line-height: 32px;
    }
    .coffee-instructions__additionally-img {
        width: 1660px;
        height: 550px;
    }
    /*reviews*/
    span#reviews,
    .tea-card span#info,
    .tea-card span#reviews,
    .vending-card span#info,
    .vending-card span#reviews {
        top: -130px;
    }
    .main-instructions__reviews-container {
        padding-bottom: 85px;
    }
    .main-instructions__reviews__title {
        margin-bottom: 100px;
    }
    .main-instructions__reviews-box {
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .main-instructions__reviews-box + .main-instructions__reviews-box {
        margin-top: 70px;
    }
    .main-reviews__main {
        padding: 40px 140px 86px 80px;
        border-radius: 20px 20px 0px 0px;
    }
    .main-reviews__quotes {
        font-size: 40px;
        line-height: 50px;
    }
    .main-reviews__data {
        font-size: 20px;
        line-height: 26px;
        right: 140px;
        top: 95px;
    }
    .main-reviews__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
    }
    .main-reviews__stars {
        margin-bottom: 40px;
        width: 187px;
        height: 34px;
    }
    .main-reviews__text {
        font-size: 20px;
        line-height: 26px;
        max-width: 1060px;
    }
    .main-reviews__footer {
        padding: 25px 140px 25px 80px;
        border-radius: 0px 0px 20px 20px;
    }
    .main-reviews__footer-avatar {
        margin-right: 50px;
        width: 70px;
        height: 70px;
    }
    .main-reviews__name {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
    }
    .main-reviews__city {
        font-size: 20px;
        line-height: 26px;
        opacity: 1;
    }
    .main-instructions__reviews-button {
        height: 70px;
        font-size: 20px;
        line-height: 24px;
    }
}