/*nav*/
.blog-nav__container {
    padding-left: 4.8%;
    padding-right: 4.8%;
}
.blog-nav .breadcrumbs__link {
    color: #000;
}
.blog-nav .breadcrumbs__link:not(.breadcrumbs__link-current)::before {
    background: #000;
}
/*instruction*/
.blog-instruction .instruction__item:first-child {
    grid-column: 1/-1;
}
/*dishes*/
.blog-dishes__wrapper {
    padding: 10px 4.8% 50px;
}
.blog-dishes__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}
.blog-dishes .coffee-dishes__item::after {
    position: sticky;
}
.blog-dishes input[name="dishes"] {
    display: none;
}
.blog-dishes svg {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.blog-dishes .coffee-dishes__item label {
    display: block;
    position: relative;
    cursor: pointer;
}
.blog-dishes .coffee-dishes__item label::before {
    position: absolute;
    content: "";
    width: 106px;
    height: 110px;
    left: -10px;
    top: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: -1;
}
.blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label::after,
.blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label::after,
.blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label::after,
.blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label::after,
.blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label::after,
.blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label::after,
.blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label::after,
.blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    background-color: #F9B300;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 110px;
    z-index: -1;
}
.blog-dishes [type="radio"] ~ .coffee-dishes__list > .coffee-dishes__item svg path {
    fill: #505050;
}
.blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) svg path,
.blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) svg path,
.blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) svg path,
.blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) svg path,
.blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) svg path,
.blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) svg path,
.blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) svg path,
.blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) svg path {
    fill: #fff;
}
.blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label,
.blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label,
.blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label,
.blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label,
.blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label,
.blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label,
.blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label,
.blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label {
    color: #fff;
}
.blog-dishes .blog-dishes__content section {
    display: none;
}
.blog-dishes svg {
    bottom: 24px;
}
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(1):checked ~ .blog-dishes__content > section:nth-child(1),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(2):checked ~ .blog-dishes__content > section:nth-child(2),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(3):checked ~ .blog-dishes__content > section:nth-child(3),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(4):checked ~ .blog-dishes__content > section:nth-child(4),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(5):checked ~ .blog-dishes__content > section:nth-child(5),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(6):checked ~ .blog-dishes__content > section:nth-child(6),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(7):checked ~ .blog-dishes__content > section:nth-child(7),
.blog-dishes .coffee-dishes__box input[name="dishes"]:nth-of-type(8):checked ~ .blog-dishes__content > section:nth-child(8) {
    display: block;
}
.blog-dishes .coffee-instructions__additionally-container {
    padding: 0;
}
.blog-dishes__content {
    padding-top: 40px;
}
@media (min-width: 768px) {
    .blog-dishes__wrapper {
        padding-top: 40px;
    }
    .blog-dishes__title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 45px;
    }
    .blog-dishes .coffee-dishes__item label {
        font-size: 24px;
        line-height: 28px;
        transition: all 0.4s ease;
    }
    .blog-dishes .coffee-dishes__item label:hover {
        color: #E2A300;
    }
    .blog-dishes .coffee-dishes__item label::before {
        width: 218px;
        height: 220px;
        top: -20px;
        left: -20px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
        transition: all 0.4s ease;
    }
    .blog-dishes .coffee-dishes__item label:hover::before {
        box-shadow: 0px 0px 20px rgba(149, 149, 149, 0.6);
    }
    .blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label::after, .blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label::after, .blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label::after, .blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label::after, .blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label::after, .blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label::after, .blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label::after, .blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label::after {
        width: 218px;
        height: 220px;
        top: -20px;
        left: -20px;
        border-radius: 20px;
    }
    .dishes__item-cezve svg {
        width: 143px;
        height: 143px;
    }
    .dishes__item-french svg {
        width: 109px;
        height: 127px;
    }
    .dishes__item-moka svg {
        width: 105px;
        height: 124px;
    }
    .dishes__item-espresso svg {
        width: 106px;
        height: 111px;
    }
    .dishes__item-funnel svg {
        width: 115px;
        height: 115px;
    }
    .dishes__item-aeropress svg {
        width: 63px;
        height: 131px;
    }
    .dishes__item-cup svg {
        width: 111px;
        height: 112px;
    }
    .dishes__item-machine svg {
        width: 87px;
        height: 117px;
    }
}

@media (min-width: 1200px) {
    /*instruction*/
    .blog-instruction .instruction__list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .blog-instruction .instruction__item:first-child {
        grid-column: 1/2;
    }
    .blog-dishes__title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 35px;
    }
    .blog-dishes .coffee-instructions__additionally-box-title {
        font-size: 22px;
        line-height: 26px;
    }
    .blog-dishes svg {
        bottom: 35px;
    }
    .blog-dishes .coffee-dishes__item label::before,
    .blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label::after, .blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label::after, .blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label::after, .blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label::after, .blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label::after, .blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label::after, .blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label::after, .blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label::after {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1349px) {
    /*nav*/
    .blog-nav__container {
        padding-left: 6.35%;
        padding-right: 6.35%;
    }
    .blog-nav .breadcrumbs__list {
        padding-bottom: 10px;
    }
    .blog-dishes__content {
        padding-top: 80px;
    }
    .blog-dishes__wrapper {
        padding: 40px 6.35% 80px;
    }
    .blog-dishes .coffee-dishes__item label {
        font-size: 14px;
        line-height: 16px;
    }
    .blog-dishes .coffee-dishes__item label::before {
        width: 134px;
        height: 134px;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14.1702px;
    }
    .blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label::after, .blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label::after, .blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label::after, .blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label::after, .blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label::after, .blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label::after, .blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label::after, .blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label::after {
        width: 134px;
        height: 134px;
    }
    .dishes__item-cezve svg {
        width: 58px;
        height: 58px;
    }
    .dishes__item-french svg {
        width: 45px;
        height: 53px;
    }
    .dishes__item-moka svg {
        width: 52px;
        height: 61px;
    }
    .dishes__item-espresso svg {
        width: 57px;
        height: 57px;
    }
    .dishes__item-funnel svg {
        width: 63px;
        height: 63px;
    }
    .dishes__item-aeropress svg {
        width: 33px;
        height: 67px;
    }
    .dishes__item-cup svg {
        width: 47px;
        height: 50px;
    }
    .dishes__item-machine svg {
        width: 42px;
        height: 56px;
    }
}

@media (min-width: 1904px) {
    /*nav*/
    .blog-nav .breadcrumbs__list {
        padding-bottom: 20px;
    }
    .blog-dishes__title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 50px;
    }
    .blog-dishes .coffee-dishes__item label {
        font-size: 20px;
        line-height: 24px;
    }
    .blog-dishes .coffee-dishes__item label::before {
        width: 190px;
        height: 190px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .blog-dishes [type="radio"]:nth-of-type(1):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(1) label::after, .blog-dishes [type="radio"]:nth-of-type(2):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(2) label::after, .blog-dishes [type="radio"]:nth-of-type(3):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(3) label::after, .blog-dishes [type="radio"]:nth-of-type(4):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(4) label::after, .blog-dishes [type="radio"]:nth-of-type(5):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(5) label::after, .blog-dishes [type="radio"]:nth-of-type(6):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(6) label::after, .blog-dishes [type="radio"]:nth-of-type(7):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(7) label::after, .blog-dishes [type="radio"]:nth-of-type(8):checked ~ .coffee-dishes__list > .coffee-dishes__item:nth-child(8) label::after {
        width: 190px;
        height: 190px;
    }
    .dishes__item-cezve svg {
        width: 82px;
        height: 82px;
    }
    .dishes__item-french svg {
        width: 67px;
        height: 79px;
    }
    .dishes__item-moka svg {
        width: 74px;
        height: 87px;
    }
    .dishes__item-espresso svg {
        width: 75px;
        height: 79px;
    }
    .dishes__item-funnel svg {
        width: 72px;
        height: 72px;
    }
    .dishes__item-aeropress svg {
        width: 40px;
        height: 83px;
    }
    .dishes__item-cup svg {
        width: 67px;
        height: 69px;
    }
    .dishes__item-machine svg {
        width: 63px;
        height: 84px;
    }
    .blog-dishes__wrapper {
        padding-bottom: 100px;
    }
}