.advantage {
    z-index: 100;
    position: relative;
    padding-top: 62px;
    padding-bottom: 64px;
    background-repeat: no-repeat;
    background-image: url("../../img/advantage/vector-bg.svg");
}
.advantage__container {
    padding-left: 4.8%;
    padding-right: 4.8%;
}
.advantage__title {
    margin: 0;
    margin-bottom: 30px;
}
.advantage-wrapper {
    padding-bottom: 64px;
}
.advantage-wrapper__box {
    position: relative;
    padding-left: 60px;
    padding-bottom: 30px;
}
.advantage-wrapper__box::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: #F9B300;
    border-radius: 50%;
    left: 0;
    top: 0;
}
.advantage-wrapper__box::after {
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
}
.box-roasting::after {
    background-image: url("../../img/advantage/roasting.svg");
    top: 10px;
    left: 12px;
    width: 18px;
    height: 18px;
}
.box-prices::after {
    background-image: url("../../img/advantage/prices.svg");
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
}
.box-consultation::after {
    background-image: url("../../img/advantage/consultation.svg");
    top: 11px;
    left: 12px;
    width: 21px;
    height: 18px;
}
.advantage-wrapper__box:last-of-type {
    padding-bottom: 0px;
}
.advantage-wrapper__title {
    position: relative;
    margin: 0;
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.advantage-wrapper__text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

@media (min-width: 768px) {
    .advantage {
        padding-bottom: 130px;
    }
    .advantage__container {
        padding-left: 4.25%;
    }
    .advantage__title {
        margin-bottom: 61px;
    }
    .advantage-wrapper__box {
        position: relative;
        padding-left: 120px;
        padding-bottom: 60px;
    }
    .advantage-wrapper__box::before {
        width: 81px;
        height: 81px;
        left: 0;
        top: 0;
    }
    .box-roasting::after {
        top: 23px;
        left: 28px;
        width: 30px;
        height: 30px;
    }
    .box-prices::after {
        top: 27px;
        left: 27px;
        width: 30px;
        height: 30px;
    }
    .box-consultation::after {
        top: 26px;
        left: 26px;
        width: 35px;
        height: 29px;
    }
    .advantage-wrapper__title {
        font-size: 25px;
        line-height: 30px;
    }
    .advantage-wrapper__text {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 1200px) {
    .advantage__container {
        position: relative;
    }
    .advantage__container::after {
        position: absolute;
        content: "";
        background-image: url("../../img/advantage/bg@1x.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 538px;
        height: 440px;
        left: 7.25%;
        top: 50%;
        transform: translateY(-50%);
    }
    .advantage-wrapper,
    .advantage__title {
        width: 600px;
        margin-left: auto;
    }
}
@media (min-resolution: 2dppx) and (min-width: 1200px) {
    .advantage__container::after {
        background-image: url("../../img/advantage/bg@2x.png");
    }
}

@media (min-width: 1349px) {
    .advantage {
        background-image: url("../../img/advantage/vector-bg-laptop.svg");
    }
    .advantage__container {
        padding-left: 6.35%;
        padding-right: 6.35%;
    }
    .advantage__title {
        margin-bottom: 57px;
    }
    .advantage-wrapper__box {
        padding-left: 90px;
        padding-bottom: 40px;
    }
    .advantage-wrapper__box::before {
        width: 60px;
        height: 60px;
    }
    .advantage-wrapper__title {
        font-size: 21px;
        line-height: 25px;
    }
    .advantage-wrapper__text {
        font-size: 18px;
        line-height: 23px;
    }
    .box-roasting::after {
        top: 19px;
        left: 21px;
        width: 22px;
        height: 22px;
    }
    .box-prices::after {
        top: 21px;
        left: 21px;
        width: 22px;
        height: 22px;
    }
    .box-consultation::after {
        top: 19px;
        left: 20px;
        width: 26px;
        height: 22px;
    }
}

@media (min-width: 1904px) {
    .advantage-wrapper,
    .advantage__title {
        width: 850px;
    }
    .advantage__title {
        margin-bottom: 80px;
    }
    .advantage-wrapper__box {
        padding-left: 134px;
        padding-bottom: 60px;
    }
    .advantage-wrapper__title {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 25px;
    }
    .advantage-wrapper__text {
        font-size: 25px;
        line-height: 32px;
    }
    .advantage-wrapper__box::before {
        width: 84px;
        height: 84px;
    }
    .box-roasting::after {
        top: 26px;
        left: 29px;
        width: 31px;
        height: 30px;
    }
    .box-prices::after {
        top: 26px;
        left: 27px;
        width: 31px;
        height: 31px;
    }
    .box-consultation::after {
        top: 25px;
        left: 27px;
        width: 36px;
        height: 30px;
    }
    .advantage__container::after {
        background-image: url('../../img/advantage/bg-desk@1x.png');
        width: 754px;
        height: 600px;
    }
}