.cart__cards {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
    border-radius: 10px;
}
.cart-cards__wrapper {
    padding: 40px 4.8% 30px;
}
.cart-cards__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #222222;
}
.cart-cards__delite {
    width: 124px;
    height: 30px;
    background: #FFF7E1;
    border: 1px solid #F9B300;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F9B300;
}
.cart-card {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cart-card:not(:last-child) {
    border-bottom: 1px solid #F1F1F1;
}
.cart-card__good {
    display: flex;
    margin-bottom: 10px;
    padding: 13px 30px 16px 10px;
    background: #FCFCFC;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
}
.cart-card__info {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 12px;
    color: #222222;
}
.cart-card__info-title,
.cart-card__info-name {
    margin: 0;
    margin-bottom: 10px;
}
.cart-card__info-title {
    font-weight: bold;
}
.cart-card__price {
    margin-top: 10px;
    margin-left: auto;
}
.cart-card__price-total {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    text-align: right;
}
.cart-card__price-sale {
    font-size: 12px;
    line-height: 14px;
    color: #D6D6D6;
}
.cart-card__price-old {
    text-decoration-line: line-through;
}
.cart-card__interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-card__interaction-delite {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
.cart-card__interaction-inputs {
    display: flex;
    justify-content: space-between;
    height: 47px;
    background: #FFF7E1;
    border: 1px solid #F9B300;
    box-sizing: border-box;
    border-radius: 5px;
}
.cart-card__interaction-button {
    border: none;
    width: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: #FFF7E1;
    border-radius: 5px;
}
.cart-card__interaction-input {
    width: 60px;
    border: none;
    text-align: center;
    background: #FFF7E1;
}