.footer .container {
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}
.footer__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.footer__logo {
    width: 110px;
    height: 50px;
    margin: 0 auto;
}