.news {
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 20%,#fff7e1 20%,#fff7e1 100%);
}
.news__container {
    padding-bottom: 14px;
}
.news__title {
    margin-left: 4.8%;
    margin-bottom: 60px;
}
.news-swiper {
    position: relative;
    margin-left: 4.8%;
    margin-right: 4.8%;
}
.news-slide {
    width: 340px !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px 20px 10px 10px;
}
.news-slide__small .news-slide__wrapper {
    padding: 40px 30px;
}
.news-slide__small .news-slide__text {
    margin-bottom: 43px;
}
.news-slide__img {
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.news-slide__box {
    padding: 40px 30px;
}
.news-slide__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}
.news-slide__texts {
    margin-bottom: 43px;
}
.news-slide__text {
    margin: 0;
}
.news-slide__text + .news-slide__text {
    padding-top: 20px;
}
.news-slide__link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F9B300;
}
.news-slide__link::after {
    position: absolute;
    content: "";
    background: url("../../img/news/link-arrow.svg");
    background-size: cover;
    width: 14px;
    height: 8px;
    right: -27px;
    top: 7px;
}
.news-swiper-button-next,
.news-swiper-button-prev {
    outline: none;
    top: -19px;
    width: 49px;
    height: 20px;
}
.news-swiper-button-prev {
    left: 0;
}
.news-swiper-button-next {
    right: 0;
}
.news-swiper-button-next svg,
.news-swiper-button-prev svg {
    width: 49px;
    height: 8px;
}
.news-swiper-button-next.swiper-button-next:after,
.news-swiper-button-prev.swiper-button-prev:after {
    content: none;
}
.news__link {
    display: block;
    margin-right: 4.8%;
    margin-top: 30px;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
}

@media (min-width: 768px) {
    .news {
        background: linear-gradient(to bottom, #ffffff 0%,#ffffff 25%,#fff7e1 25%,#fff7e1 100%);
    }
    .news__container {
        padding-bottom: 20px;
    }
    .news__title {
        margin-bottom: 145px;
    }
    .news-swiper-button-next, .news-swiper-button-prev {
        top: -65px;
        width: 100px;
        height: 30px;
    }
    .news-swiper-button-next svg, .news-swiper-button-prev svg {
        width: 100px;
        height: 16px;
    }
    .news-slide {
        width: 700px !important;
        box-shadow: 0px 0px 61.44px rgba(146, 146, 146, 0.2);
    }
    .news-slide__img {
        width: 700px;
        height: 280px;
    }
    .news-slide__box,
    .news-slide__small .news-slide__wrapper {
        padding: 60px 80px 80px;
    }
    .news-slide__title {
        margin-bottom: 50px;
        font-size: 25px;
        line-height: 32px;
    }
    .news-slide__texts {
        margin-bottom: 40px;
    }
    .news-slide__text + .news-slide__text {
        padding-top: 30px;
    }
    .news-slide__link {
        font-size: 25px;
        line-height: 29px;
    }
    .news-slide__link::after {
        width: 26px;
        height: 13px;
        right: -42px;
        top: 8px;
    }
    .news__link {
        margin-top: 50px;
        font-size: 25px;
        line-height: 32px;
    }
}

@media (min-width: 1349px) {
    .news-swiper-button-next, .news-swiper-button-prev {
        display: none;
    }
    .news__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    .news__title {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 12.35%;
        margin-bottom: 44px;
    }
    .news-swiper {
        grid-column: 1/-1;
        grid-row: 2/3;
        margin-left: 6.35%;
        margin-right: 6.35%;
    }
    .news__link {
        margin-top: 0;
        margin-right: 12.35%;
        font-size: 18px;
        line-height: 23px;
    }
    .news-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .news-slide {
        height: 283px;
        box-shadow: 0px 0px 21.2553px rgba(146, 146, 146, 0.2);
    }
    .news-slide:nth-child(2n+1) {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .news-slide__big {
        width: 680px !important;
    }
    .news-slide__small {
        width: 480px !important;
    }
    .news-slide__big .news-slide__wrapper {
        display: flex;
    }
    .news-slide__img {
        width: 238px;
        height: 283px;
    }
    .news-slide__box {
        padding: 33px 55px 20px 60px;
    }
    .news-slide__small .news-slide__wrapper {
        padding: 50px 97px 42px 80px;
    }
    .news-slide__title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 23px;
    }
    .news-slide__texts {
        margin-bottom: 20px;
    }
    .news-slide__text {
        font-size: 14px;
        line-height: 18px;
    }
    .news-slide__text + .news-slide__text {
        padding-top: 20px;
    }
    .news-slide__link {
        font-size: 14px;
        line-height: 16px;
    }
    .news-slide__link::after {
        width: 9px;
        height: 6px;
        right: -18px;
        top: 7px;
    }
}