.subscription {
    margin-top: -100px;
}
.subscription__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.subscription__title {
    margin-bottom: 30px;
}
.subscription__text {
    margin: 0;
    margin-bottom: 20px;
}
.subscription__application {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.subscription__input {
    margin-bottom: 20px;
    padding: 16px 40px;
    height: 50px;
    background: #F3F3F3;
    border: none;
    border-radius: 5px;
}
.subscription__input::placeholder {
    color: #C9C9C9;
    font-weight: 500;
}
.subscription__button {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    border: none;
}
.subscription__agreement {
    margin: 0;
    font-size: 10px;
    line-height: 130%;
    color: #5B5B5B;
}
.subscription__agreement .carry {
    display: block;
}
.subscription__link {
    color: #F9B300;
    transition: all 0.4s ease;
}
.subscription__link:hover {
    color: #E2A300;
}

@media (min-width: 768px) {
    .subscription {
        margin-top: -140px;
    }
    .subscription__wrapper {
        padding-bottom: 50px;
    }
    .subscription__img {
        width: 537px;
        height: 441px;
    }
    .subscription__title {
        margin-bottom: 50px;
    }
    .subscription__text {
        margin-bottom: 50px;
    }
    .subscription__application {
        max-width: 700px;
        margin-bottom: 20px;
    }
    .subscription__input {
        padding: 20px 80px;
        height: 70px;
    }
    .subscription__input::placeholder {
        font-size: 22px;
        line-height: 29px;
    }
    .subscription__button {
        height: 70px;
        font-size: 25px;
        line-height: 30px;
    }
    .subscription__agreement {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 1349px) {
    .subscription {
        margin-top: -200px;
    }
    .subscription .container {
        margin-left: 6.35%;
        margin-right: 0%;
        width: 94%;
    }
    .subscription__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .subscription__wrapper picture {
        order: 2;
        margin-left: -60px;
    }
    .subscription__img {
        width: 569px;
        height: 467px;
        margin-top: -125px;
    }
    .subscription__title {
        margin-bottom: 39px;
    }
    .subscription__text {
        margin-bottom: 38px;
        width: 536px;
    }
    .subscription__application {
        max-width: 100%;
        width: 779px;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    .subscription__input {
        margin-bottom: 0;
        padding: 17px 80px 17px 40px;
        height: 56px;
        width: 670px;
        border-radius: 28px;
    }
    .subscription__input::placeholder {
        font-size: 18px;
        line-height: 23px;
    }
    .subscription__button {
        height: 56px;
        margin-left: -50px;
        padding-right: 33px;
        padding-left: 33px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 30px;
    }
    .subscription__agreement {
        font-size: 12px;
        line-height: 16px;
    }
    .subscription__agreement .carry {
        display: inline;
    }
}

@media (min-width: 1904px) {
    .subscription__title {
        margin-bottom: 50px;
    }
    .subscription__text {
        margin-bottom: 60px;
        width: 757px;
    }
    .subscription__application {
        width: 1100px;
        margin-bottom: 14px;
    }
    .subscription__input {
        margin-bottom: 0;
        padding: 24px 80px 24px 60px;
        height: 80px;
        width: 1100px;
        border-radius: 40px;
    }
    .subscription__button {
        height: 80px;
        padding-left: 53px;
        padding-right: 53px;
        margin-left: -260px;
        border-radius: 40px;
        font-size: 25px;
        line-height: 30px;
    }
    .subscription__img {
        width: 803px;
        height: 658px;
        margin-left: -117px;
    }
}