.coffee {
    position: relative;
}
.coffee::after {
    position: absolute;
    content: "";
    background: url("../../../img/page-coffee/coffee/coffee-bg@1x.png") no-repeat;
    background-size: cover;
    width: 350px;
    height: 319px;
    top: 116px;
    left: 0;
}
.coffee__container {
    padding-left: 4.8%;
    padding-right: 4.8%;
    padding-bottom: 40px;
    background: url("../../../img/page-coffee/coffee/bg@1x.png") no-repeat;
}
/*breadcrumbs*/
.breadcrumbs__list {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
}
.breadcrumbs__item + .breadcrumbs__item {
    margin-left: 12px;
}
.breadcrumbs__link {
    position: relative;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
}
.breadcrumbs__link:not(.breadcrumbs__link-current)::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
}
.coffee__title {
    margin: 0;
    margin-bottom: 271px;
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}
/*coffee__form*/
.coffee__form-fieldset {
    margin: 0;
    border: none;
}
.coffee-info,
.coffee__choose-box {
    position: relative;
    margin-bottom: 10px;
    padding: 50px 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: 1;
}
.coffee__form-legend {
    margin: 0;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.coffee-info__item + .coffee-info__item {
    margin-top: 17px;
}
.coffee__form [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.coffee__form label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.coffee__form [type="radio"] + label::before {
    position: absolute;
    content: "";
    background-color: #E4E4E4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.coffee__form [type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    background-color: #F9B300;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.coffee-info__list {
    padding-left: 50px;
}
.coffee-info__radio + label::before {
    top: 2px;
    left: -50px;
}
.coffee-info__radio:checked + label::after {
    top: 2px;
    left: -50px;
}
.coffee__choose-box {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 576px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee__choose-box::before,
.coffee-info::before {
    position: absolute;
    content: "";
    background: #F9B300;
    width: 86.4%;
    height: 10px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.coffee-choose {
    padding: 0;
    width: 45%;
}
.coffee-choose:nth-child(1),
.coffee-choose:nth-child(2) {
    order: 1;
}
.coffee-choose:nth-child(3),
.coffee-choose:nth-child(4),
.coffee-choose:nth-child(5) {
    order: 2;
}
.coffee-choose:nth-child(1),
.coffee-choose:nth-child(3),
.coffee-choose:nth-child(4) {
    margin-bottom: 30px;
}
.coffee-choose__title {
    padding-bottom: 20px;
}
.coffee-choose__list {
    padding-left: 30px;
}
.coffee-choose__item + .coffee-choose__item {
    padding-top: 12px;
}
.coffee-choose__radio + label::before {
    top: -1px;
    left: -30px;
}
.coffee-choose__radio:checked + label::after {
    top: -1px;
    left: -30px;
}
.coffee__dishes {
    padding: 0;
}
.coffee-dishes__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
    margin: 0 auto;
}
.coffee-dishes__item {
    position: relative;
    width: 31.2%;
    height: 110px;
    padding: 10px;
    margin-bottom: 10px;
}
.coffee-dishes__item:not(:nth-child(3n + 3)) {
    margin-right: 10px;
}
.coffee-dishes__item::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    pointer-events: none;
}
.dishes__item-cezve::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/cezve.svg");
    width: 68px;
    height: 68px;
}
.dishes__item-french::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/french.svg");
    width: 49px;
    height: 58px;
}
.dishes__item-moka::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/moka.svg");
    width: 51px;
    height: 61px;
}
.dishes__item-espresso::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/espresso.svg");
    width: 54px;
    height: 56px;
}
.dishes__item-funnel::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/funnel.svg");
    width: 55px;
    height: 55px;
}
.dishes__item-aeropress::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/aeropress.svg");
    width: 29px;
    height: 60px;
}
.dishes__item-cup::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/cup.svg");
    width: 54px;
    height: 56px;
}
.dishes__item-machine::after {
    background-image: url("../../../img/page-coffee/coffee/dishes/machine.svg");
    width: 42px;
    height: 58px;
}
.coffee-dishes__item label {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
}
.coffee-dishes__list [type="radio"] + label::before {
    width: 106px;
    height: 110px;
    left: -10px;
    top: -10px;
    background-color: transparent;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
}
.coffee-dishes__list [type="radio"]:checked + label::after {
    border-radius: 10px;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 110px;
    z-index: -1;
}

@media (min-resolution: 2dppx) and (min-width: 375px) {
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-bg@2x.png") no-repeat;
        background-size: cover;
        width: 350px;
        height: 319px;
    }
}

@media (min-width: 573px) {
    .coffee__container {
        background-size: contain;
    }
}

@media (min-width: 768px) {
    .coffee__container {
        background: url("../../../img/page-coffee/coffee/bg-tab@1x.png") no-repeat;
    }
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-tab-bg@1x.png") no-repeat;
        width: 761px;
        height: 656px;
        top: 189px;
    }
    .breadcrumbs__list {
        padding-bottom: 70px;
    }
    .breadcrumbs__link {
        font-size: 20px;
        line-height: 24px;
    }
    .breadcrumbs__item + .breadcrumbs__item {
        margin-left: 20px;
    }
    .breadcrumbs__link:not(.breadcrumbs__link-current)::after {
        width: 4px;
        height: 4px;
        right: -12px;
    }
    .coffee__title {
        margin-bottom: 558px;
        font-size: 50px;
        line-height: 62px;
    }
    .coffee-info, .coffee__choose-box {
        position: relative;
        margin-bottom: 40px;
        padding: 105px 44px 66px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee__form-legend {
        padding-bottom: 50px;
        font-size: 32px;
        line-height: 39px;
    }
    .coffee-info__list {
        padding-left: 102px;
    }
    .coffee-info__item + .coffee-info__item {
        margin-top: 40px;
    }
    .coffee-info__radio + label::before,
    .coffee-info__radio:checked + label::after {
        left: -102px;
    }
    .coffee__form [type="radio"] + label::before,
    .coffee__form [type="radio"]:checked + label::after {
        width: 40px;
        height: 40px;
    }
    .coffee-info__list svg {
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }
    .coffee__choose-box::before, .coffee-info::before {
        height: 20px;
        top: 40px;
    }
    .coffee__choose-box {
        margin-bottom: 40px;
        height: 1142px;
        padding: 105px 50px 69px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
    }
    .coffee-choose__list {
        padding-left: 54px;
    }
    .coffee-choose__item + .coffee-choose__item {
        padding-top: 30px;
    }
    .coffee__form label {
        font-size: 24px;
        line-height: 28px;
    }
    .coffee-choose__radio + label::before,
    .coffee-choose__radio:checked + label::after {
        left: -54px;
        top: -6px;
    }
    .coffee-choose:nth-child(1), .coffee-choose:nth-child(3), .coffee-choose:nth-child(4) {
        margin-bottom: 70px;
    }
    .coffee-dishes__list {
        max-width: 700px;
    }
    .coffee-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 20px;
    }
    .coffee-dishes__item {
        height: 220px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .coffee-dishes__list [type="radio"] + label::before {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-dishes__list [type="radio"]:checked + label::after {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        border-radius: 20px;
    }
    .coffee-dishes__item::after {
        bottom: 30px;
    }
    .dishes__item-cezve::after {
        width: 143px;
        height: 139px;
    }
    .dishes__item-french::after {
        width: 109px;
        height: 127px;
    }
    .dishes__item-moka::after {
        width: 105px;
        height: 124px;
    }
    .dishes__item-espresso::after {
        width: 106px;
        height: 111px;
        bottom: 45px;
    }
    .dishes__item-funnel::after {
        width: 115px;
        height: 115px;
        bottom: 34px;
    }
    .dishes__item-aeropress::after {
        width: 63px;
        height: 131px;
        bottom: 26px;
    }
    .dishes__item-cup::after {
        width: 111px;
        height: 112px;
        bottom: 42px;
    }
    .dishes__item-machine::after {
        width: 87px;
        height: 117px;
        bottom: 37px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 768px) {
    .coffee__container {
        background: url("../../../img/page-coffee/coffee/bg-tab@2x.png") no-repeat;
    }
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-tab-bg@1x.png") no-repeat;
    }
}

@media (min-width: 1200px) {
    .coffee-info, .coffee__choose-box {
        padding: 105px 73px 66px;
    }
    .coffee-dishes__list {
        max-width: 1084px;
    }
    .coffee-dishes__item {
        width: 23%;
        height: 250px;
        margin-bottom: 28px;
    }
    .coffee-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 0px;
    }
    .coffee-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 28px;
    }
    .coffee-dishes__list [type="radio"] + label::before,
    .coffee-dishes__list [type="radio"]:checked + label::after {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1349px) {
    .coffee__container {
        padding-left: 6.35%;
        padding-right: 6.35%;
        background: url("../../../img/page-coffee/coffee/bg-laptop@1x.png") no-repeat;
        background-size: contain;
    }
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-laptop-bg@1x.png") no-repeat;
        width: 579px;
        height: 600px;
        top: -30px;
        right: 0;
        left: auto;
        z-index: 1;
        pointer-events: none;
    }
    .breadcrumbs__list {
        padding-bottom: 100px;
    }
    .breadcrumbs__item + .breadcrumbs__item {
        margin-left: 11px;
    }
    .breadcrumbs__link {
        font-size: 12px;
        line-height: 14px;
    }
    .breadcrumbs__link:not(.breadcrumbs__link-current)::after {
        width: 3px;
        height: 3px;
        right: -7px;
    }
    .coffee__title {
        margin-bottom: 95px;
    }
    .coffee__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1180px;
        margin: 0 auto;
    }
    .coffee-info, .coffee__choose-box {
        margin-bottom: 15px;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
    }
    .coffee-info {
        padding: 30px 35px 83px 60px;
        width: 280px;
    }
    .coffee-info__title {
        padding-bottom: 30px;
        font-size: 22px;
        line-height: 26px;
    }
    .coffee-info__list {
        padding-left: 36px;
    }
    .coffee-info__item + .coffee-info__item {
        margin-top: 16px;
    }
    .coffee-info__list svg {
        margin-right: 0;
        width: 17px;
        height: 17px;
    }
    .coffee__form [type="radio"] + label::before, .coffee__form [type="radio"]:checked + label::after {
        width: 17px;
        height: 17px;
    }
    .coffee-info__radio + label::before, .coffee-info__radio:checked + label::after {
        left: -36px;
        top: 0px;
    }
    .coffee-info::before {
        width: 10px;
        height: 86.4%;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        border-radius: 7px;
    }
    .coffee__choose-box {
        width: 880px;
        height: 373px;
        padding: 56px 102px 36px 60px;
    }
    .coffee__choose-box::before {
        height: 10px;
        top: 25px;
    }
    .coffee-choose {
        width: 25%;
    }
    .coffee-choose:nth-child(1), .coffee-choose:nth-child(3), .coffee-choose:nth-child(4) {
        margin-bottom: 0;
    }
    .coffee-choose:nth-child(3) {
        margin-bottom: 15px;
    }
    .coffee-choose:nth-child(2) {
        order: 3;
    }
    .coffee-choose:nth-child(5) {
        order: 4;
    }
    .coffee-choose__title {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .coffee-choose__list {
        padding-left: 32px;
    }
    .coffee__form label {
        font-size: 14px;
        line-height: 16px;
    }
    .coffee-choose__item + .coffee-choose__item {
        padding-top: 15px;
    }
    .coffee-choose__radio + label::before, .coffee-choose__radio:checked + label::after {
        left: -32px;
        top: 0px;
    }
    .coffee-dishes__list [type="radio"] + label::before {
        width: 134px;
        height: 134px;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
    }
    .coffee-dishes__list [type="radio"]:checked + label::after {
        width: 134px;
        height: 134px;
        border-radius: 14px;
    }
    .coffee-dishes__list {
        width: 1180px;
        max-width: initial;
        justify-content: space-between;
    }
    .coffee-dishes__item {
        width: 134px;
        height: 134px;
        margin-bottom: 0;
    }
    .coffee-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 0;
    }
    .dishes__item-cezve::after {
        width: 58px;
        height: 54px;
    }
    .dishes__item-french::after {
        width: 45px;
        height: 53px;
    }
    .dishes__item-moka::after {
        width: 52px;
        height: 59px;
        bottom: 26px;
    }
    .dishes__item-espresso::after {
        width: 57px;
        height: 57px;
        bottom: 26px;
    }
    .dishes__item-funnel::after {
        width: 63px;
        height: 63px;
        bottom: 20px;
    }
    .dishes__item-aeropress::after {
        width: 33px;
        height: 67px;
        bottom: 20px;
    }
    .dishes__item-cup::after {
        width: 47px;
        height: 46px;
        bottom: 39px;
    }
    .dishes__item-machine::after {
        width: 42px;
        height: 56px;
        bottom: 30px;
    }
}

@media (min-width: 1349px) and (min-resolution: 2dppx) {
    .coffee__container {
        background: url("../../../img/page-coffee/coffee/bg-laptop@2x.png") no-repeat;
        background-size: contain;
    }
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-laptop-bg@2x.png") no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1904px) {
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-desc-bg@1x.png") no-repeat;
        width: 827px;
        height: 713px;
        top: -115px;
        right: 74px;
    }
    .breadcrumbs__list {
        padding-top: 40px;
        padding-bottom: 131px;
    }
    .breadcrumbs__item + .breadcrumbs__item {
        margin-left: 14px;
    }
    .breadcrumbs__link {
        font-size: 18px;
        line-height: 21px;
    }
    .breadcrumbs__link:not(.breadcrumbs__link-current)::after {
        width: 4px;
        height: 4px;
        right: -9px;
    }
    .coffee__title {
        margin-bottom: 146px;
        font-size: 70px;
        line-height: 87px;
    }
    .coffee__form {
        width: 1657px;
    }
    .coffee-info, .coffee__choose-box {
        margin-bottom: 20px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-info {
        padding: 43px 52px 72px 95px;
        width: 400px;
    }
    .coffee-info::before {
        width: 14px;
        height: 75.4%;
        left: 30px;
        border-radius: 10px;
    }
    .coffee-info__title {
        padding-bottom: 46px;
        font-size: 30px;
        line-height: 36px;
    }
    .coffee-info__list {
        padding-left: 42px;
    }
    .coffee-info__item + .coffee-info__item {
        margin-top: 48px;
    }
    .coffee-info__list svg {
        margin-right: 2px;
        width: 24px;
        height: 24px;
    }
    .coffee__form [type="radio"] + label::before, .coffee__form [type="radio"]:checked + label::after {
        width: 25px;
        height: 25px;
        left: -42px;
    }
    .coffee__choose-box {
        width: 1240px;
        height: 524px;
        padding: 79px 130px 47px 87px;
    }
    .coffee__choose-box::before {
        height: 14px;
        top: 36px;
    }
    .coffee-choose:nth-child(3) {
        margin-bottom: 20px;
    }
    .coffee-choose__title {
        padding-bottom: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .coffee-choose__list {
        padding-left: 45px;
    }
    .coffee__form .coffee-choose__radio + label::before, .coffee__form .coffee-choose__radio:checked + label::after {
        left: -45px;
    }
    .coffee__form label {
        font-size: 20px;
        line-height: 24px;
    }
    .coffee-choose__item + .coffee-choose__item {
        padding-top: 21px;
    }
    .coffee-dishes__list {
        width: 1657px;
    }
    .coffee-dishes__list [type="radio"] + label::before {
        width: 189px;
        height: 190px;
        left: -20px;
        box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .coffee-dishes__list [type="radio"]:checked + label::after {
        width: 189px;
        height: 190px;
        left: -20px;
        border-radius: 20px;
    }
    .coffee-dishes__item {
        width: 189px;
        height: 190px;
    }
    .dishes__item-cezve::after {
        width: 82px;
        height: 77px;
        bottom: 44px;
    }
    .dishes__item-french::after {
        width: 67px;
        height: 79px;
        bottom: 39px;
    }
    .dishes__item-moka::after {
        width: 74px;
        height: 84px;
        bottom: 36px;
    }
    .dishes__item-espresso::after {
        width: 75px;
        height: 79px;
        bottom: 36px;
    }
    .dishes__item-funnel::after {
        width: 72px;
        height: 72px;
        bottom: 39px;
    }
    .dishes__item-aeropress::after {
        width: 40px;
        height: 83px;
        bottom: 34px;
    }
    .dishes__item-cup::after {
        width: 67px;
        height: 66px;
        bottom: 54px;
    }
    .dishes__item-machine::after {
        width: 63px;
        height: 84px;
        bottom: 36px;
    }
}

@media (min-width: 1904px) and (min-resolution: 2dppx) {
    .coffee::after {
        background: url("../../../img/page-coffee/coffee/coffee-desc-bg@2x.png") no-repeat;
        background-size: cover;
    }
}
