.health {
    position: relative;
    background: linear-gradient(0deg, rgba(245,245,245,1) 18%, rgba(255,255,255,0) 18%);
}
.health::after {
    position: absolute;
    content: "";
    background: url("../../../img/page-health/health-bg@1x.png") no-repeat;
    background-size: cover;
    width: 234px;
    height: 188px;
    top: 123px;
    right: 0;
}
.health__container {
    padding-left: 4.8%;
    padding-right: 4.8%;
    padding-bottom: 40px;
    background: url("../../../img/page-coffee/coffee/bg@1x.png") no-repeat;
}
.health__title {
    margin-bottom: 228px;
}
.health__form-fieldset {
    margin: 0;
    border: none;
    padding: 0;
}
.health-dishes__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
    margin: 0 auto;
}
.health-dishes__item {
    position: relative;
    width: 31.3%;
    height: 125px;
    padding: 15px 11px;
    margin-bottom: 10px;
    z-index: 10;
}
.health-dishes__item:not(:nth-child(3n + 3)) {
    margin-right: 10px;
}
.health-dishes__item label {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.health-dishes__item::after {
    position: absolute;
    content: "";
    background-image: url("../../../img/page-tea/tea-01@1x.png");
    width: 49px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11px;
    pointer-events: none;
}
.health__form [type="radio"] + label::before {
    position: absolute;
    content: "";
    width: 107px;
    height: 125px;
    left: -10px;
    top: -15px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: -1;
}
.health__form [type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    background-color: #F9B300;
    border-radius: 10px;
    left: -10px;
    top: -15px;
    width: 107px;
    height: 125px;
    z-index: -1;
}
.health-dishes__span {
    display: block;
    padding-top: 5px;
}

@media (min-resolution: 2dppx) and (min-width: 375px) {
    .health::after {
        background: url("../../../img/page-health/health-bg@2x.png") no-repeat;
        background-size: cover;
        width: 234px;
        height: 188px;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-01@2x.png");
        width: 49px;
        height: 68px;
        background-size: cover;
    }
}

@media (min-width: 573px) {
    .health__container {
        background-size: contain;
    }
}

@media (min-width: 768px) {
    .health {
        background: linear-gradient(0deg, rgba(245,245,245,1) 15%, rgba(255,255,255,0) 15%);
    }
    .health::after {
        background: url("../../../img/page-health/health-tab-bg@1x.png") no-repeat;
        width: 480px;
        height: 384px;
        top: 252px;
    }
    .health__container {
        padding-bottom: 60px;
        background: url("../../../img/page-coffee/coffee/bg-tab@1x.png") no-repeat;
        background-size: 1904px 725px;
    }
    .health__title {
        margin-bottom: 500px;
    }
    .health-dishes__list {
        max-width: 700px;
    }
    .health-dishes__item {
        height: 220px;
        padding: 10px 25px;
        margin-bottom: 20px;
    }
    .health-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 20px;
    }
    .health__form label {
        font-size: 20px;
        line-height: 24px;
        transition: all 0.4s ease;
    }
    .health__form label:hover {
        color: #F9B300;
    }
    .health__form [type="radio"]:checked + label {
        color: #fff;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-tab-01@1x.png");
        width: 98px;
        height: 139px;
        bottom: 17px;
    }
    .health-dishes__list [type="radio"] + label::before {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -10px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
        transition: all 0.4s ease;
    }
    .health-dishes__list [type="radio"] + label:hover::before {
        box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.6);
    }
    .health__form [type="radio"]:checked + label::after {
        border-radius: 20px;
        left: -20px;
        top: -10px;
        width: 220px;
        height: 220px;
    }
}

@media (min-width: 1200px) {
    .health-dishes__list {
        max-width: 1084px;
    }
    .health-dishes__item {
        width: 23%;
        height: 250px;
        margin-bottom: 28px;
    }
    .health-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 0px;
    }
    .health-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 28px;
    }
    .health-dishes__list [type="radio"] + label::before,
    .health-dishes__list [type="radio"]:checked + label::after {
        width: 250px;
        height: 250px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 768px) {
    .health::after {
        background: url("../../../img/page-health/health-tab-bg@2x.png") no-repeat;
        background-size: cover;
        width: 480px;
        height: 384px;
    }
    .health__container {
        background: url("../../../img/page-coffee/coffee/bg-tab@2x.png") no-repeat;
        background-size: 1904px 725px;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-tab-01@2x.png");
        width: 98px;
        height: 139px;
        bottom: 17px;
    }
}

@media (min-width: 1349px) {
    .health {
        background: linear-gradient(0deg, rgba(245,245,245,1) 16%, rgba(255,255,255,0) 16%);
    }
    .health::after {
        background: url("../../../img/page-health/health-laptop-bg@1x.png") no-repeat;
        background-size: cover;
        width: 365px;
        height: 257px;
        top: 258px;
        right: 83px;
    }
    .health__container {
        padding-left: 6.35%;
        padding-right: 6.35%;
        padding-bottom: 50px;
        background: url("../../../img/page-coffee/coffee/bg-laptop@1x.png") no-repeat;
        background-size: contain;
    }
    .health__title {
        margin-bottom: 60px;
    }
    .health-dishes__list {
        max-width: 1180px;
    }
    .health-dishes__item {
        width: 380px;
        height: 225px;
    }
    .health-dishes__item-order {
        order: 5;
    }
    .health-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 0;
    }
    .health-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 20px;
    }
    .health__form label {
        display: flex;
        align-items: center;
        padding-left: 150px;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
    }
    .health-dishes__list [type="radio"] + label::before, .health-dishes__list [type="radio"]:checked + label::after {
        width: 380px;
        height: 225px;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-health/health/health-laptop@1x.png");
        width: 126px;
        height: 196px;
        bottom: 17px;
        left: 95px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 1349px) {
    .health::after {
        background: url("../../../img/page-health/health-laptop-bg@2x.png") no-repeat;
        background-size: cover;
    }
    .health__container {
        background: url("../../../img/page-coffee/coffee/bg-laptop@2x.png") no-repeat;
        background-size: contain;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-health/health/health-laptop@2x.png");
        width: 126px;
        height: 196px;
    }
}

@media (min-width: 1904px) {
    .health__title {
        margin-bottom: 81px;
    }
    .health::after {
        background: url("../../../img/page-health/health-desc-bg@1x.png") no-repeat;
        background-size: cover;
        width: 518px;
        height: 364px;
        top: 340px;
        right: 113px;
    }
    .health-dishes__list {
        max-width: 1660px;
        width: 1660px;
    }
    .health-dishes__item {
        width: 540px;
        height: 320px;
        padding: 20px 45px;
    }
    .health__form label {
        padding-left: 225px;
        font-size: 25px;
        line-height: 30px;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-health/health/health-desc@1x.png");
        width: 182px;
        height: 279px;
        left: 145px;
    }
    .health-dishes__list [type="radio"] + label::before, .health-dishes__list [type="radio"]:checked + label::after {
        width: 540px;
        height: 320px;
        left: -40px;
        top: -20px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 1904px) {
    .health::after {
        background: url("../../../img/page-health/health-desc-bg@2x.png") no-repeat;
        background-size: cover;
        width: 518px;
        height: 364px;
    }
    .health-dishes__item::after {
        background-image: url("../../../img/page-health/health/health-desc@2x.png");
        width: 182px;
        height: 279px;
    }
}