.sorting {
    padding-left: 4.8%;
    padding-right: 4.8%;
    padding-bottom: 10px;
    background-color: #F5F5F5;
}
.sorting__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    text-decoration-line: underline;
}
.sorting__wrapper {
    margin-bottom: 30px;
}
.sorting__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 35px 46px 32px;
    width: 340px;
    height: 554px;
    color: #222;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 17px;
}
.sorting-card-tab,
.sorting-card-desc {
    display: none;
}
.sorting__card:not(:last-child) {
    margin-bottom: 20px;
}
.sorting-card__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.sorting-card__header-title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F9B300;
}
.sorting-card__header-title + .sorting-card__header-title {
    padding-top: 8px;
}
.sorting-card__header-size {
    width: 106px;
    height: 28px;
    padding-right: 11px;
    padding-left: 20px;
    background: #FFF7E1;
    border: 1px solid #F9B300;
    box-sizing: border-box;
    border-radius: 4px;
}
.sorting-card__content {
    margin-bottom: 31px;
}
.sorting-card__deskr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sorting-info__stars {
    width: 113px;
    height: 21px;
}
.sorting-info__grade {
    margin-bottom: 26px;
}
.sorting-info__number {
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
}
.sorting-info__reviews {
    font-size: 12px;
    line-height: 14px;
    color: #5B5B5B;
}
.sorting-info__img {
    display: block;
    margin-bottom: 25px;
    width: 107px;
    height: 16px;
}
.sorting-info__box + .sorting-info__box {
    padding-top: 13px;
}
.sorting-info__title {
    margin: 0;
    margin-bottom: 9px;
    line-height: 16px;
}
.sorting-info__rating {
    display: block;
    width: 108px;
    height: 8px;
}
.sorting-description__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}
.sorting-description__text {
    margin: 0;
    margin-bottom: 25px;
}
.sorting-description__button {
    width: 151px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    outline: none;
}
.sorting-description__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sorting-description__price {
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
}
.sorting__button-more {
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 50px;
    font-size: 18px;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .sorting {
        padding-bottom: 38px;
    }
    .sorting__title {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 26px;
    }
    .sorting__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }
    .sorting-card-tab {
        display: block;
    }
    .sorting__card {
        margin: 0;
        padding: 21px 33px 42px 35px;
        box-shadow: 0px 0px 17.0069px rgba(146, 146, 146, 0.25);
        border-radius: 10px;
        transition: all 0.4s ease;
    }
    .sorting__card:hover {
        box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.6);
    }
    .sorting-card__header {
        margin-bottom: 22px;
    }
    .sorting-card__header-size {
        width: 110px;
        height: 28px;
        font-size: 16px;
        line-height: 19px;
        border-radius: 5px;
    }
    .sorting-card__main-img {
        width: 144px;
        height: 260px;
        transition: all 0.4s ease;
    }
    .sorting-info__stars {
        display: block;
        width: 94px;
        height: 18px;
    }
    .sorting-info__grade {
        margin-bottom: 20px;
    }
    .sorting-info__number {
        font-size: 14px;
        line-height: 17px;
    }
    .sorting-info__reviews {
        font-size: 10px;
        line-height: 12px;
    }
    .sorting-info__img {
        width: 89px;
        height: 13px;
    }
    .sorting-info__title {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 14px;
    }
    .sorting-info__rating {
        width: 88px;
        height: 7px;
    }
    .sorting-card__content {
        margin-bottom: 25px;
    }
    .sorting__card:hover .sorting-card__content .sorting-card__main-img {
        transform: scale(1.05);
    }
    .sorting-description__title {
        font-size: 22px;
        line-height: 27px;
    }
    .sorting-description__text {
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 16px;
    }
    .sorting-description__price {
        font-size: 26px;
        line-height: 32px;
    }
    .sorting-description__button {
        width: 149px;
    }
    .sorting__button-more {
        width: 700px;
        height: 70px;
        font-size: 22px;
        line-height: 26px;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    .sorting__button-more:hover {
        background: #FFF7E1;
        border-color: #FFF7E1;
    }
}

@media (min-width: 1200px) {
    .sorting__wrapper {
        max-width: 1084px;
    }
    .sorting__button-more {
        width: 1084px;
    }
}

@media (min-width: 1349px) {
    .sorting {
        padding-left: 6.3%;
        padding-right: 6.3%;
        padding-bottom: 93px;
    }
    .sorting__title {
        margin-bottom: 48px;
        font-size: 14px;
        line-height: 16px;
    }
    .sorting__wrapper {
        max-width: 1180px;
    }
    .sorting__card {
        width: 280px;
        height: 461px;
        padding: 15px 25px 37px;
        box-shadow: none;
        border-radius: 14px;
    }
    .sorting__card:not(:last-child) {
        margin-bottom: 50px;
    }
    .sorting-card-desc {
        display: block;
    }
    .sorting-card__header {
        margin-bottom: 14px;
    }
    .sorting-card__header-title {
        font-size: 12px;
        line-height: 15px;
    }
    .sorting-card__header-title + .sorting-card__header-title {
        padding-top: 6px;
    }
    .sorting-card__header-size {
        width: 93px;
        height: 23px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 4px;
    }
    .sorting-card__main-img {
        width: 120px;
        height: 218px;
    }
    .sorting-info__stars {
        width: 94px;
        height: 18px;
    }
    .sorting-info__img {
        margin-bottom: 20px;
    }
    .sorting-description__title {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 22px;
    }
    .sorting-description__text {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 14px;
    }
    .sorting-description__price {
        font-size: 25px;
        line-height: 30px;
    }
    .sorting-description__button {
        width: 125px;
        height: 33px;
        font-size: 12px;
        line-height: 14;
    }
    .sorting__button-more {
        width: 1180px;
        height: 49px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 1904px) {
    .sorting {
        padding-left: 6.3%;
        padding-right: 6.3%;
    }
    .sorting__title {
        margin-bottom: 58px;
        font-size: 20px;
        line-height: 23px;
    }
    .sorting__wrapper {
        max-width: 1660px;
    }
    .sorting__card:not(:last-child) {
        margin-bottom: 70px;
    }
    .sorting__card {
        width: 400px;
        height: 652px;
        padding: 20px 41px 52px 38px;
        box-shadow: none;
        border-radius: 14px;
    }
    .sorting-card__header {
        margin-bottom: 20px;
    }
    .sorting-card__header-title {
        font-size: 18px;
        line-height: 22px;
    }
    .sorting-card__header-title + .sorting-card__header-title {
        padding-top: 10px;
    }
    .sorting-card__header-size {
        width: 132px;
        height: 33px;
        font-size: 18px;
        line-height: 21px;
        border-radius: 5px;
    }
    .sorting-card__main-img {
        width: 172px;
        height: 311px;
    }
    .sorting-info__stars {
        width: 133px;
        height: 25px;
    }
    .sorting-info__grade {
        margin-bottom: 28px;
    }
    .sorting-info__number {
        font-size: 20px;
        line-height: 24px;
    }
    .sorting-info__reviews {
        font-size: 14px;
        line-height: 16px;
    }
    .sorting-info__img {
        margin-bottom: 30px;
        width: 127px;
        height: 19px;
    }
    .sorting-info__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 21px;
    }
    .sorting-info__rating {
        width: 127px;
        height: 10px;
    }
    .sorting-card__content {
        margin-bottom: 27px;
    }
    .sorting-description__title {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 31px;
    }
    .sorting-description__text {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 21px;
    }
    .sorting-description__price {
        font-size: 35px;
        line-height: 44px;
    }
    .sorting-description__button {
        width: 178px;
        height: 48px;
        font-size: 18px;
        line-height: 22px;
    }
    .sorting__button-more {
        width: 1660px;
        height: 70px;
        font-size: 20px;
        line-height: 24px;
    }
}