.tea {
    position: relative;
    /* background: linear-gradient(0deg, rgba(245,245,245,1) 15%, rgba(255,255,255,0) 15%); */
}
.tea::after {
    position: absolute;
    content: "";
    background: url("../../../img/page-tea/tea-bg@1x.png") no-repeat;
    background-size: cover;
    width: 327px;
    height: 279px;
    top: 64px;
    left: 48px;
}
.tea__container {
    padding-left: 4.8%;
    padding-right: 4.8%;
    padding-bottom: 40px;
    background: url("../../../img/page-coffee/coffee/bg@1x.png") no-repeat;
}
.tea__title {
    margin-bottom: 270px;
}
.tea__form-fieldset {
    margin: 0;
    border: none;
    padding: 0;
}
.tea-dishes__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
    margin: 0 auto;
}
.tea-dishes__item {
    position: relative;
    width: 31.2%;
    height: 110px;
    padding: 10px 0;
    margin-bottom: 10px;
    z-index: 10;
}
.tea-dishes__item:not(:nth-child(3n + 3)) {
    margin-right: 10px;
}
.tea-dishes__item label {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.tea-dishes__item::after {
    position: absolute;
    content: "";
    background-image: url("../../../img/page-tea/tea-01@1x.png");
    width: 49px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    pointer-events: none;
}
.tea__form [type="radio"] + label::before {
    position: absolute;
    content: "";
    width: 106px;
    height: 110px;
    left: 0px;
    top: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 10px;
    z-index: -1;
}
.tea__form [type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    background-color: #F9B300;
    border-radius: 10px;
    left: 0px;
    top: -10px;
    width: 106px;
    height: 110px;
    z-index: -1;
}

@media (min-resolution: 2dppx) and (min-width: 375px) {
    .tea::after {
        background: url("../../../img/page-tea/tea-bg@2x.png") no-repeat;
        background-size: cover;
        width: 327px;
        height: 279px;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-01@2x.png");
        width: 49px;
        height: 68px;
        background-size: cover;
    }
}

@media (min-width: 573px) {
    .tea__container {
        background-size: contain;
    }
}

@media (min-width: 768px) {
    /* .tea {
        background: linear-gradient(0deg, rgba(245,245,245,1) 13%, rgba(255,255,255,0) 13%);
    } */
    .tea__container {
        padding-bottom: 60px;
        background: url("../../../img/page-coffee/coffee/bg-tab@1x.png") no-repeat;
        background-size: 1904px 725px;
    }
    .tea::after {
        background: url("../../../img/page-tea/tea-tab-bg@1x.png") no-repeat;
        width: 670px;
        height: 572px;
        top: 131px;
        left: 98px;
    }
    .tea__title {
        margin-bottom: 556px;
    }
    .tea-dishes__list {
        max-width: 700px;
    }
    .tea-dishes__item {
        height: 220px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .tea-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 20px;
    }
    .tea__form label {
        font-size: 20px;
        line-height: 24px;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-tab-01@1x.png");
        width: 98px;
        height: 139px;
        bottom: 17px;
    }
    .tea-dishes__list [type="radio"] + label::before {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        box-shadow: 0px 0px 61.44px rgba(149, 149, 149, 0.25);
        border-radius: 20px;
    }
    .tea-dishes__list [type="radio"]:checked + label::after {
        width: 220px;
        height: 220px;
        left: -20px;
        top: -20px;
        border-radius: 20px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 768px) {
    .tea__container {
        background: url("../../../img/page-coffee/coffee/bg-tab@2x.png") no-repeat;
        background-size: 1904px 725px;
    }
    .tea::after {
        background: url("../../../img/page-tea/tea-tab-bg@2x.png") no-repeat;
        background-size: cover;
        width: 670px;
        height: 572px;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-tab-01@2x.png");
        width: 98px;
        height: 139px;
        bottom: 17px;
    }
}

@media (min-width: 1200px) {
    .tea-dishes__list {
        max-width: 1084px;
    }
    .tea-dishes__item {
        width: 23%;
        height: 250px;
        margin-bottom: 28px;
    }
    .tea-dishes__item:not(:nth-child(3n + 3)) {
        margin-right: 0px;
    }
    .tea-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 28px;
    }
    .tea-dishes__list [type="radio"] + label::before,
    .tea-dishes__list [type="radio"]:checked + label::after {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1349px) {
    .tea__container {
        padding-left: 6.35%;
        padding-right: 6.35%;
        padding-bottom: 50px;
        background: url("../../../img/page-coffee/coffee/bg-laptop@1x.png") no-repeat;
        background-size: contain;
    }
    .tea::after {
        background: url("../../../img/page-tea/tea-laptop-bg@1x.png") no-repeat;
        width: 489px;
        height: 463px;
        top: 64px;
        right: 0;
        left: auto;
        z-index: 11;
        pointer-events: none;
    }
    .tea__title {
        margin-bottom: 77px;
    }
    .tea-dishes__list {
        max-width: 1180px;
    }
    .tea-dishes__item:not(:nth-child(4n + 4)) {
        margin-right: 20px;
    }
    .tea-dishes__item-order {
        order: 8;
    }
    .tea__form label {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 18px;
        line-height: 22px;
    }
    .tea-dishes__item {
        width: 280px;
        height: 227px;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-laptop-01@1x.png");
        width: 101px;
        height: 141px;
        bottom: 66px;
    }
    .tea-dishes__list [type="radio"] + label::before, .tea-dishes__list [type="radio"]:checked + label::after {
        width: 280px;
        height: 227px;
    }
}

@media (min-width: 1349px) and (min-resolution: 2dppx) {
    .tea__container {
        background: url("../../../img/page-coffee/coffee/bg-laptop@2x.png") no-repeat;
        background-size: contain;
    }
    .tea::after {
        background: url("../../../img/page-tea/tea-laptop-bg@2x.png") no-repeat;
        background-size: cover;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-laptop-01@2x.png");
        width: 101px;
        height: 141px;
        bottom: 66px;
    }
}

@media (min-width: 1904px) {
    .tea::after {
        background: url("../../../img/page-tea/tea-desc-bg@1x.png") no-repeat;
        width: 689px;
        height: 655px;
        top: 102px;
        right: 0px;
    }
    .tea__title {
        margin-bottom: 120px;
    }
    .tea-dishes__list {
        max-width: 1660px;
        width: 1660px;
    }
    .tea__form label {
        font-size: 25px;
        line-height: 30px;
    }
    .tea-dishes__item {
        width: 400px;
        height: 320px;
        padding: 40px;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-desc-01@1x.png");
        width: 143px;
        height: 200px;
        bottom: 90px;
    }
    .tea-dishes__list [type="radio"] + label::before, .tea-dishes__list [type="radio"]:checked + label::after {
        width: 400px;
        height: 320px;
        left: -40px;
        top: -40px;
    }
}

@media (min-width: 1904px) and (min-resolution: 2dppx) {
    .tea::after {
        background: url("../../../img/page-tea/tea-desc-bg@2x.png") no-repeat;
        background-size: cover;
    }
    .tea-dishes__item::after {
        background-image: url("../../../img/page-tea/tea-desc-01@2x.png");
        width: 143px;
        height: 200px;
    }
}