*, *::after, *::before {
    box-sizing: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1900px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    width: 90.4%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #F9B300;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.button:hover {
    background-color: #E2A300;
}
.button:active{
    background-color: #C89000;
}
.section-title {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}
.catalog-title {
    margin: 0;
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}
.catalog-form [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.catalog-form label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.no-hidden {
    overflow: visible;
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        line-height: 26px;
    }
    .container {
        width: 91.5%;
    }
    .section-title {
        font-size: 40px;
        line-height: 50px;
    }
    .catalog-title {
        font-size: 50px;
        line-height: 62px;
    }
}
@media (min-width: 1349px) {
    body {
        font-size: 18px;
        line-height: 23px;
    }
    .main-body {
        position: relative;
    }
    .main-body::after {
        position: absolute;
        content: "";
        background: url("../../../img/promo/bg-laptop.svg") no-repeat;
        width: 524px;
        height: 1244px;
        right: -20px;
        top: -197px;
        z-index: -1;
    }
    .container {
        width: 87.3%;
    }
    .section-title {
        font-size: 35px;
        line-height: 44px;
    }
}
@media (min-width: 1904px) {
    body {
        font-size: 25px;
        line-height: 32px;
    }
    .section-title {
        font-size: 50px;
        line-height: 62px;
    }
    .catalog-title {
        font-size: 70px;
        line-height: 87px;
    }
}