*, *::after, *::before {
    box-sizing: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1900px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}
.container {
    margin: 0 auto;
    width: 90.4%;
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        line-height: 26px;
    }
    .container {
        width: 91.5%;
    }
}
@media (min-width: 1349px) {
    body {
        font-size: 18px;
        line-height: 23px;
    }
    .container {
        width: 87.3%;
    }
}
@media (min-width: 1904px) {
    body {
        font-size: 25px;
        line-height: 32px;
    }
}